.hidden{
    display: none;
}

.color-white{
    color: #fff !important;
}

/* table {
    font-size: .875rem;
} */

.navbar{
    margin-bottom: 20px;
}

.tab-content{
    margin-bottom: 15px;
}

.tab-pane{
    padding-top: 15px;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 15px 15px 0 15px;
}

.dataTables_wrapper{
    padding: 0;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Procurar";
}

div.ui-datepicker{
    font-size:12px;
}

.hidden{
    display: none;
}

/* Provisório */
.input-group.border-danger{
    border: 1px solid #dc3545;
    border-radius: 4px;
}

#descricao{
    padding-right: 15px;
}

/* Publicações */
#div-frame-office .modal-body{
    height: 82vh;
}

iframe{
    width: 100%;
    height: 100%;
}

@media (min-width: 992px){
    .modal-full{
        max-width: 90%;
    }
}